# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

target/
obj/
*/target
*.iml

.project
.settings/
indexer-queue-azure-enqueue/.project
indexer-queue-azure-enqueue/.settings/
indexer-queue-azure-requeue/.project
indexer-queue-azure-requeue/.settings/
indexer-queue-azure-enqueue/.classpath
indexer-queue-azure-enqueue/.factorypath
indexer-queue-azure-requeue/.classpath
indexer-queue-azure-requeue/.factorypath
indexer-queue-azure-enqueue/extensions.csproj
indexer-queue-aws/dependency-reduced-pom.xml

# Environment configuration
*.env
.classpath
.factorypath
.sts4*
.vscode/launch.json
